:root {
    --table-width: 230px;
}
.main {
    display: grid;
    align-items: center;
    height: 100vh;
}

.game {
    display: grid;
    grid-template-columns: 0fr 1fr;
    height: 100vh;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

/* @media screen and (min-width: 1230px) {
    .game {
        grid-template-columns: 300px 1fr;
    }
} */


.table-area {
    display: grid;
    /* grid-template-rows: 75px 1fr 75px; */
    grid-template-rows: 1fr var(--table-width) 1fr
}



.table {
    background: rgb(231, 108, 108);
    width: 100%;
    height: 100%;
}


.middle {
    display: grid;
    /* grid-template-columns: 1fr calc(230px * 1.41421356237) 1fr; */
    grid-template-columns: 1fr calc(var(--table-width) * 1.41421356237) 1fr;
}





.top-bottom {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}


.sidebar {
    background: #373736;
    visibility: hidden;
    width: 0;
    
    height: 100vh;
    display: grid;
    grid-template-rows: 7rem 1fr;
}

.left {
    justify-content: end;
    padding-right: 18px
}

.right {
    justify-content: start;
    padding-left: 18px;
}

.top-bottom {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
}


.player {
    /* padding: 18px 25px; */
    /* border-radius: 40px;
    background: #2d2d2d;
    color: #fff;
    text-align: center; */

    transition: background 0.3s ease;
}

.player:hover {
    background: #181818;
}



/* Teams */
.blue {
    background: blue;
}

.red {
    background: red;
}

.green {
    background: green;
}