/*

Der er tre dele til lobby'en

1. De to knapper: indstillinger og fjern rum
2. Spiller oversigt og fejl besked
3. Selve spillern, som skal kun skifte farve

*/


/* -------------------------------------- 1 Kontrol ------------------------------------- */

#lobby {
    position: relative;
    height: 0px;

    background: #1C1C1C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.25);

    transition: height 0.5s;
}

#lobby * {
    visibility: hidden;
}

.lobby-show {
    visibility: visible;
    height: 300px !important;
}

.lobby-show * {
    visibility: visible !important;
}

#lobby-controls {
    display: grid;
    grid-template-columns: 1.6fr 13px 1fr;
    padding: 15px;
}

#lobby-controls button {
    height: 40px;
    font-size: 15px;

    border: none;
    border-radius: 11px;

    color: white;

    transition: background 0.2s, filter 0.2s;
}

#lobby-controls-leave {
    background: #C72F2F;
}

#lobby-controls-leave:hover {
    background: #8E1515;
}

#lobby-controls-settings {
    background: #353535;
}

#lobby-controls-settings:hover {
    background: #4f4f4f;
}

#lobby_amount_players {
    text-align: center;
}



/* --------------------------------------- 2 Info --------------------------------------- */

#lobby-info {
    text-align: left;
    border-top: 1px solid #666565;
    width: 267px;
    padding-top: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

/* Fejl besked */
#lobby-info p:nth-child(2) {
    text-align: right;
    color: #C72F2F;
    visibility: hidden;
}

#lobby-info p:nth-child(2):hover {
    background: black;
}



/* ------------------------------------- 3 Spillere ------------------------------------- */

#lobby-players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 15px;

    height: 179px;

    overflow-y: auto;
}

#lobby-players p {
    color: white;
    background: #373736;
    margin: .2rem;

    text-align: center;
    border-radius: 7px;
    padding: 3px;
    height: 30px;

    transition: background .1s, color .1s

    /* Så man ikke kan selektere teksten */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
}


#lobby-players p:hover {
    background: #515151;
    cursor: pointer;
}
/*.team-spectator {
    
}*/

.team-blue {
    background: #144aca !important;
}

.team-green {
    background: #268426 !important;
}

.team-red {
    background: #c72f2f !important;
}